html {
   user-select: none;
   font-family: Arial, Helvetica, sans-serif;
}

#interface {
    text-align: center;
}

span.die {
    color: #ddd;
    margin-right: 10px;
    font-size: 4rem;
    vertical-align: middle;
}

span.die:first-child {
    margin-left: 10px;
}

span.die:last-child {
    margin-right: 10px;
}

button {
    cursor: pointer;
    vertical-align: middle;
    height: 27px;
}

#roll-button {
    width: 133px;
}

button:disabled {
    cursor: default;
}

h1 {
    text-align: center;
}

p {
    margin: 0;
}
